/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

   .dashboard-title {
      padding: 30px 40px;
   }
   .dashboard-content {
      padding: 30px 40px;
      padding-top: 40px;
   }
   .header-right ul li a {
      padding: 5px 10px;
   }
   .box-right h5 {
      font-size: 22px;
   }
   .box-left img {
      max-width: 40px;
   }
   .box-item > h6 {
      padding: 5px 10px;
      font-size: 14px;
   }
   .chk-option label span {
      height: 20px;
      width: 20px;
      line-height: 20px;
      font-size: 10px;
   }
   .site-btn,
   .dashboard-search-wrap input,
   ::placeholder {
      font-size: 14px;
   }
   .dashboard-menu ul li a {
      padding: 10px 10px;
   }
   .chk-option label span {
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 10px;
   }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

   .dashboard-title {
      padding: 30px 40px;
   }
   .dashboard-content {
      padding: 30px 40px;
      padding-top: 40px;
   }
   .header-right ul li a {
      padding: 5px 10px;
   }
   .header-left ul li a {
      padding: 5px 7px;
   }
   .box-right h5 {
      font-size: 22px;
   }
   .box-left img {
      max-width: 40px;
   }
   .box-item > h6 {
      padding: 5px 10px;
      font-size: 14px;
   }
   .chk-option label span {
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 10px;
   }
   
    .site-btn,
   .dashboard-search-wrap input,
   ::placeholder {
      font-size: 14px;
   }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

   .dashboard-title {
      padding: 30px 40px;
   }
   .dashboard-content {
      padding: 30px 40px;
      padding-top: 40px;
   }
   .header-right ul li a {
      padding: 5px 10px;
   }
   .header-left ul li a {
      padding: 5px 7px;
   }
   .box-right h5 {
      font-size: 22px;
   }
   .box-left img {
      max-width: 40px;
   }
   .box-item > h6 {
      padding: 5px 10px;
      font-size: 14px;
   }
   .chk-option label span {
      height: 20px;
      width: 20px;
      line-height: 20px;
      font-size: 10px;
   }
   .dashboard-activity {
      justify-content: center;
   }
   .dashboard-content-title {
      justify-content: center;
   }
   
   .site-btn,
   .dashboard-search-wrap input,
   ::placeholder {
      font-size: 14px;
   }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
   body {
      font-size: 14px;
   }
   h6 {
      font-size: 14px;
   }
   /* header */
   .header-right ul li.profile a span {
      display: none;
   }

   .box-right h5 {
      font-size: 16px;
   }
   .box-left img {
      max-width: 25px;
   }
   
   .dashboard-content {
      padding: 30px 15px;
   }
   .dashboard-table {
      overflow: auto;
   }
   .dashboard-title {
      padding: 30px 15px;
   }
   .box-item > h6 {
      font-size: 12px;
      top: 0;
      padding: 2px 5px;
   }
   .box-item {
      height: 100px;
   }
   .site-btn {
      padding: 5px 10px;
      font-size: 12px;
   }
   .pagination-wrap ul li a {
      height: 28px;
      line-height: 28px;
      width: 28px;
   }
   .dashboard-selection form .site-btn,
   .dashboard-selection .nice-select {
      font-size: 12px;
      height: 30px;
      line-height: 30px;
   }
   .dashboard-selection .nice-select {
      padding-left: 10px;
   }
   .dashboard-selection .nice-select::after {
      height: auto;
      width: auto;
      background: none;
      line-height: normal;
      font-size: 12px;
   }

   .dashboard-search-wrap input {
      width: 170px;
      padding: 5px;
      padding-left: 30px;
      font-size: 12px;
   }
   ::placeholder {
      font-size: 12px;
   }
   .dashboard-title-info ul li {
      font-size: 12px;
      padding-right: 6px;
      margin-right: 5px;
   }

   .dashboard-content-title {
      justify-content: center;
   }
   .dashboard-activity {
      justify-content: center;
   }
   .dashboard-title > h6 {
      margin-bottom: 20px;
   }
   .dashboard-title > h6 i {
      height: 30px;
      line-height: 30px;
      width: 35px;
   }
   .search-input i {
      left: 10px;
      font-size: 12px;
   }
   .chk-option label span {
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 8px;
   }
   .dashboard-menu .dashboar-menu-link > a {
      font-size: 13px;
      padding-left: 20px;
   }
   .dashboard-menu .dashboar-menu-link > a::after {
      left: 8px;
      height: 3px;
      width: 3px;
   }
   .dashboard-menu .dashboar-menu-link.has-submenu > a::before {
      right: 10px;
      font-size: 10px;
   }
   .dashboard-menu .has-menu > a::after {
      height: 25px;
      line-height: 25px;
      width: 25px;
      border-radius: 5px;
   }
   .dashboard-menu .submenu {
      opacity: 1;
      pointer-events: all;
      max-height: 0;
      overflow: hidden;
      position: relative;
      left: 10px;
      width: calc(100% - 10px);
   }
   .header-left {
      text-align: center;
   }
   
   .header-left ul li a {
      padding: 3px 5px;
   }
   .header-right ul li a {
      padding: 3px 5px;
   }
   .header-top {
      padding: 8px 15px;
      align-items: flex-start;
      padding-left: 25px;
   }
   .header-right ul ul.submenu {
      background: #fff;
      width: 150px;
      padding: 5px 0px;
   }
   
   .dashboard-menu {
      position: fixed;
      top: 0;
      z-index: 999;
      width: 250px;
      transform: translate(-100%);
      transition: .3s ease;
      padding-top: 45px;
   }
   .dashboard-menu.active {
      transform: translate(0%);
   }
   


}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   
 
}